<div class="container-fluid w-50 border rounded shadow mt-5 mb-3 p-4 text-center">
  <p class= "lead"> 
    Survey Title:<%= @survey.survey_title %>
  </p>
  <p class="lead"> 
    Survey Script :<%= @survey.survey_script %>
  </p>
  <hr class="my-4">
</div>